@import "../../vars.scss";

.search-bar {
  display: flex;
  align-items: center;
  padding: 24px;

  .tasks-number {
    margin-right: 15px;
    height: 24px;
  }

  .action-button {
    height: 24px;
    box-sizing: content-box;
    margin-right: 15px;
  }
}

.tasks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  padding: 24px;
}
